
.w-stack {
    display: flex;
    flex-direction: column;
}

.w-stack--sm {
    display: flex;
    flex-direction: column;
}

.w-stack * + * {
    margin-top: 1rem;
}


.h-stack {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}