
.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc(
        (var(--switcher-target-container-width, 40rem) - 100%) * 999
    );
}

/// Max 2 items, so we target everything *after* those
.switcher > :nth-last-child(n + 3),
.switcher > :nth-last-child(n + 3) ~ * {
  flex-basis: 100%;
}
