---
layout: layouts/base.njk
title: Daily Artsy Blog with Sidebar
cover: "/images/feeds/daily-fun-journal.png"
tags: 
    - feeds
    - flex
    - basic
    - in-progress
---

<div class="masuk-root region">
<div class="masuk-home wrapper">
<header class="masuk-layout-header">
    <div class="wrapper" id="soset-header">
    <p>SOSEET BLOG</p>
    <a href="/feeds/daily-blog">
        <h2>YOUR FUN ENTERTAINMENT JOURNAL</h2>
    </a>
    </div>
    <div class="wrapper">
        <nav id="masuk-nav">
            <a>DESIGN</a>
            <a>MUSIC</a>
            <a>FASHION</a>
            <a>FEATURED</a>
        </nav>
    </div>
</header>
<main class="masuk-layout-main edges">
    <div class="sidebar">
        <div class="masuk-posts">
            <div class="masuk-article w-stack">
                <div class="article-header w-stack">
                <a href=""><h1 class="article-title">These film photographs give the vibes of Euphoria TV Series Behind-the-Scenes</h1></a>
                <p class="article-date">Jan 21, 2022</p>
                </div>
                <div class="article-content region">
                    <img class="article-cover" src="/images/feeds/euphoria-cast.webp" />
                    <p>After two years isolated, Elizabeth opened his first account and in three days, her daily subscribe grow 50%, with around one thousand subscribers</p>
                </div>
            </div>
            <div class="masuk-article h-stack">
                <div class="article-header w-stack">
                    <a href=""><h1 class="article-title">The Boring Show Recap their screenplay, potentials of rehearsal?</h1></a>
                    <p class="article-date">Jan 21, 2022</p>
                    <img class="article-cover" src="/images/feeds/seinfeld-cast.jpeg" />
                </div>
                <div class="article-content region">
                    <p>After two years isolated, Elizabeth opened his first account and in three days, her daily subscribe grow 50%, with around one thousand subscribers</p>
                </div>
                <div class="article-tags repel">
                        <p>Euphoria</p>
                        <p>TV Shows</p>
                </div>
            </div>
        </div>
        <div class="side-masuk">
            <div class="side-section w-stack">
                <h2>MOOD TODAY</h2>
                <img src="https://d2w9rnfcy7mm78.cloudfront.net/9255892/original_23169540349ed95d8dd9bca791f4b6c2.gif?1603654329?bc=0" alt="HAPPINESS MOOD" />
            </div>
            <div class="side-section w-stack">
                <h2>ABOUT US</h2>
                <div id="about-box">
                    <p>THANK YOU FOR VISITING THIS PAGE</p>
                    <p>OUR HUMBLE BLOG ESTABLISHED SINCE 2021</p>
                    <p>HERE'S THE INTRODUCTORY GIFT FOR YOU</p>
                    <div id="gift-card">
                        <h2>MYSTERIOUS COFFEE SHOP GIFT CARD</h2>
                        <h2>-> -> -> -> -> -> -></h2>
                        <h2>CODE: #MORNINGLEISURE</h2>
                    </div>
                    <p>ONLY LUCKY ONE CAN GENERATE LOL</p>
                </div>
            </div>
            <div class="side-section edges w-stack">
                <h2>CATEGORY</h2>
                <ul role="list">
                    <li>NIHILIST</li>
                    <li>GLAMOUR</li>
                    <li>UGLINESS</li>
                    <li>BEAUTY</li>
                    <li>SHINY</li>
                </ul>
            </div>
            <div class="side-section w-stack">
                <h2>Quick Links</h2>
                <ul role="list">
                    <li>Facebook</li>
                    <li>Vimeo</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Daily Mail</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="masuk-layout-footer all-center region">
    <p>Some Material Contents are respective for owners. Writings are the views from author. SOSEET BLOG 2022</p>
</footer>
</div>
</div>