---
layout: 'layouts/landing-page'
title: Favorite Spots of Pontianak Poster
pageScripts:
    - '/js/experiments-page.js'
styleScripts:
    - /css/favorites-spots-pontianak.css
tags: 
    - flex
    - intermediate
    - in-progress
---

<div id="favorite-spot-ptk">
    <div id="inner-spot">
    <div id="spot-right">
        <drag-move>
            <div id="spot-box">
                <img class="dragme" id="spot-cover" src="/images/feeds/bridge-pontianak.jpg" />
            </div>
        </drag-move>
    </div>
    <div id="spot-left">
        <div class="big-size-spot region">
            <div id="title-big">
            <h1 id="journey-label">YOUR JOURNEY</h1>
            <h1 id="bill-label">BILL</h1>
            <h1 id="city-label">PONTIANAK</h1>
            </div>
        </div>
        <div class="cluster" id="bill-table">
            <div id="bill-summary">
                <div id="spot-header" class="spot-item">
                    <h1>YOUR NAME</h1>
                    <h2 class="spot-label">ASSIGNEE</h2>
                    <div class="spot-foot">
                        <h2>PAYMENT METHODS : CASH</h2>
                    </div>
                </div>
            <div class="spot-item">
                <h1>CLEAR</h1>
                <h2 class="spot-label">NO COMPLIANCE</h2>
                <div class="spot-foot">
                    <h2>STATUS</h2>
                </div>
            </div>
            <div class="spot-item">
                <h1>HANGING OUT</h1>
                <h2 class="spot-label">TYPE</h2>
                <div class="spot-foot">
                    <h2>ASSIGNEE</h2>
                </div>
            </div>
            <div class="spot-item">
                <h1>PONTIANAK UNDER BRIDGE</h1>
                <h2 class="spot-label">SPOTS</h2>
                <div class="spot-foot">
                    <h2>LOCATION</h2>
                </div>
            </div>
            </div>
        <div id="bill-tables">
            <div id="bill-sub">
            <div class="spot-item">
                <h1>MIE TIAW HAJI KHAIDIR</h1>
                <h2 class="spot-label">RESTAURANT NAME</h2>
                <div class="spot-foot">
                    <h2>RESTAURANT TAX: 0%</h2>
                </div>
            </div>
            <div class="spot-item">
                <h1>ABCDEFG</h1>
                <h2 class="spot-label">LABEL</h2>
                <div class="spot-foot">
                    <h2>NOTE</h2>
                </div>
            </div>
            </div>
            <div id="bill-carts">
                <h2 id="bill-cart-label">DETAIL CARTS</h2>
                <div class="bill-cart-item">
                    <h2>KWE TIAW DAGING</h2>
                    <h2>X2</h2>
                    <h2>RP. 40,000</h2>
                </div>
                <div class="bill-cart-item">
                    <h2>KWE TIAW CAMPUR</h2>
                    <h2>X2</h2>
                    <h2>RP. 40,000</h2>
                </div>
                <div class="bill-cart-item">
                    <h2>ES JERUK</h2>
                    <h2>X2</h2>
                    <h2>RP. 16,000</h2>
                </div>
                <div class="bill-cart-item">
                    <h2>TOTAL:</h2>
                    <h2>RP. 96,000</h2>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="spot-story">
        <div id="spot-experiences">
            <h1>I REALLY LOVE THE SPOTS. ITS UNIMAGINABLE AND FORGETLESS, I HOPE I CAN REMEMBER THIS FOREVER</h1>
            <h1>WHAT A SUNSHINE, LOVE THE LOCALS WITH THEIR STREET FOODS, IT MUS BE THE BEST HANGOUT WITH FRIENDS</h1>
            <h1>I HOPE I CAN BRING THOSE BAKWAN INTO MY CITY, SO MY GRANDMA CAN TASTE AND MAKE IT EVERYDAY</h1>
        </div>
        <div id="spot-favorites">
            <h1>TANJUNG SANA SINI SPOT</h1>
            <h1>SULTAN PRINCE CASTLE</h1>
            <h1>WARUNG KOPI ASIANG</h1>
        </div>
    </div>
    </div>
</div>