---
layout: layouts/base.njk
title: Flex Guide for Origami Poster
styleScripts:
    - /css/guide-origami.css
draft: true
tags: 
    - feeds
    - flex
    - intermediate
    - in-progress
---

<div id="origami-page">
    <div class="replicate-first">
        {# <img style="display: none;" src="/images/feeds/nihon-tested.jpg" /> #}

        <div id="gami-poster">
            <div id="posterhead-origami">
                <h1 id="ayang-title">AYANG</h1>
                <div id="established-ayang">
                    <h1>SINCE 1994</h1>
                    <h1>SINGAPORE</h1>
                </div>
                <h1>CONFERENCE</h1>
                <h1>ISSUED 20</h1>
            </div>
            <div id="origami-trademark-company">
                                    <h2>ORIGAMI</h2>
                    <h2>COLORBALL FLEXING MANUAL GUIDE STANDARD COMPANY</h2>
            </div>
            <div id="pattern-origamis">
                <div class="pattern-origami-item">
                    <div class="left-pt">
                    <div class="full-pt-cl">
                    </div>
                    <div class="half-pt-cl">
                    </div>
                    <div class="half-pt-cl">
                        <div id="red-mark" class="half-pt-cl">
                        </div>
                    </div>
                    <div class="third-pt-cl">
                    </div>
                    </div>
                </div>
                <div class="pattern-origami-item">
                    <div class="left-pt">
                    <div class="full-pt-cl">
                    </div>
                    <div class="half-pt-cl">
                        <div id="blue-mark" class="half-pt-cl">
                        </div>
                    </div>
                    <div class="half-pt-cl">
                    </div>
                    <div class="third-pt-cl">
                    </div>
                    </div>
                </div>
                <div class="pattern-origami-item">
                    <div class="left-pt">
                    <div class="half-pt-cl">
                    </div>
                    <div class="half-pt-cl">
                    </div>
                    <div class="third-pt-cl">
                    </div>
                    <div class="full-pt-cl">
                         <div id="green-mark" class="half-pt-cl">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="pattern-origami-item">
                    <div class="left-pt">
                        <div class="full-pt-cl">
                        </div>
                        <div class="half-pt-cl">
                        </div>
                        <div class="half-pt-cl">
                        </div>
                        <div class="third-pt-cl">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gami-flexes">
        <div class="gami-boxes">
            <div class="box-gami brown-gami">
            </div>
            <h1>FLEX</h1>
            <h1>-START</h1>
            <div class="box-gami red-gami">
            </div>
            <div class="box-gami blue-gami">
            </div>
            <div class="box-gami">
            </div>
        </div>
        <div id="boxes--flexend" class="gami-boxes">
            <div class="box-gami green-gami">
            </div>
            <div class="box-gami">
            </div>
            <div class="box-gami">
            </div>
            <h1>FLEX-</h1>
            <h1>END</h1>
        </div>
        <div id="boxes__space-between" class="gami-boxes">
            <div class="box-gami">
            </div>
            <h1>SPACE-</h1>
            <div class="box-gami purple-gami">
            </div>
            <h1>BETWEEN</h1>
            <div class="box-gami">
            </div>
        </div>
        <div id="boxes__space-around" class="gami-boxes">
            <div class="box-gami">
            </div>
            <h1>SPACE-</h1>
            <div class="box-gami purple-gami">
            </div>
            <h1>AROUND</h1>
            <div class="box-gami brown-gami">
            </div>
        </div>
        <div id="boxes__space-evenly" class="gami-boxes">
            <div class="box-gami">
            </div>
            <h1>SPACE-</h1>
            <div class="box-gami purple-gami">
            </div>
            <h1>EVENLY</h1>
            <div class="box-gami brown-gami">
            </div>
        </div>
        </div>
        </div>
    </div>
</div>