---
layout: 'layouts/base'
title: Fresh Lemon Soda Machine
pageScripts:
    - '/js/experiments-page.js'
styleScripts:
    - /css/fresh-lemon-soda.css
tags: 
    - feeds
    - flex
    - intermediate
    - in-progress
---


<div id="lemon-page">
    <div id="lemon-container">
        <div class="lemon-board" id="lemon-banner">
        <div id="lemon-banner-cover">
        </div>
        <div id="lemon-banner-inner">
            <h2>FRESH LEMON WITH SODA</h2>
        </div>
        </div>
        <div class="lemon-board" id="lemon-tagline">
            <h2>ORIGINAL - HERBAL - LOW SUGAR -  EXTRA LEMON - ORIGINAL - HERBAL - LOW SUGAR -  EXTRA LEMON - ORIGINAL - HERBAL - LOW SUGAR -  EXTRA LEMON</h2>
        </div>
        <div class="lemon-board" id="first-menu-lemon">
            <div class="lemon-sub" id="inside-lemon">
                <h2>INSIDE FRESH LEMON</h2>
            </div>
            <div class="lemon-sub" id="promo-lemon">
                <h2>CLAIM YOUR VITAMIN C</h2>
            </div>
        </div>
    </div>
</div>