---
layout: 'layouts/base'
title: Gallery Lookbook
pageScripts:
    - '/js/lookbook.js'
styleScripts:
    - /css/gallery-lookbook.css
tags:
    - feeds
    - flex
    - intermediate
    - in-progress
---


<div class="gallery-component cluster region wrapper">
    <look-book source="/images/feeds/bape-90s-lookbook.jpg" class="detail-image">
    </look-book>
    <div id="grid-right" class="detail-grid cluster">
        <p>1 of {{ lookbook.gallerys | length }}</p>
        <div id="gallery-items" class="detail-grid cluster">
            {% for item in lookbook.gallerys %}
                <look-item source="{{ item.src }}"></look-item>
            {% endfor %}
        </div>
    </div>
</div>