---
layout: 'layouts/base'
title: Gallery Lookbook
pageScripts:
    - '/js/lookbook.js'
styleScripts:
    - /css/gallery-lookbook.css
tags:
    - feeds
    - flex
    - intermediate
    - in-progress
---


<div class="gallery-component cluster region wrapper">
    {% set firstItem = lookbook.gallerys | first %}
    <look-book source="{{ firstItem.src }}" class="detail-image">
    </look-book>
    <div id="grid-right" class="detail-grid">
        <div class="cluster">
        <div class="button-left">
        {% include "arrow--left.svg" %}
        </div>
        <p id="indicator">1 of {{ lookbook.gallerys | length }}</p>
        <div class="button-right">
        {% include "arrow--right.svg" %}
        </div>
        </div>
        <div id="gallery-items" class="detail-grid cluster">
            {% for item in lookbook.gallerys %}
                <look-item source="{{ item.src }}"></look-item>
            {% endfor %}
        </div>
    </div>
</div>