---
layout: 'layouts/base'
title: Gradient Soap on Motion
styleScripts:
    - /css/gradient-soap-motion.css
tags: 
    - feeds
    - flex
    - intermediate
    - in-progress
---

<div id="gradient-soap-page">
    <div id="motion-bg">
        <div id="poster">
        {# <div id="circle-blue-light"> #}
        {# </div> #}
        <div id="circle-blue-dark">
        </div>
        <div id="circle-blue-light">
        </div>
        <div id="circle-red">
        </div>
        </div>
    </div>
</div>