---
layout: layouts/base.njk
title: Green Tour Morning Poster
styleScripts:
    - /css/green-club.css
tags:
    - feeds
    - flex
    - basic
    - in-progress
---

<div id="green-medit-poster">
    <div class="eventclub-poster">
        <div id="vertical-clubs">
            <h1>GREEN TRIP CLUB</h1>
            <h1>⬤</h1>
        </div>
    </div>
    <div class="fishnet-poster">
        <div id="fishnet-bg">
        <div class="little-boxes">
            {% for i in range(0, 42) %}
                <div class="little-i"></div>
            {% endfor %}
        </div>
        <div class="little-boxes-even">
            {% for i in range(0, 32) %}
                <div class="little-i"></div>
            {% endfor %}
        </div>
        <div class="little-boxes">
            {% for i in range(0, 36) %}
                <div class="little-i"></div>
            {% endfor %}
        </div>
        <div class="little-boxes-even">
            {% for i in range(0, 42) %}
                <div class="little-i"></div>
            {% endfor %}
        </div>
        <div class="little-boxes">
            {% for i in range(0, 32) %}
                <div class="little-i"></div>
            {% endfor %}
        </div>
        <div class="little-boxes">
            {% for i in range(0, 36) %}
                <div class="little-i"></div>
            {% endfor %}
        </div>
        </div>
        <div id="quote-bjorke">
            <h1>Take a walk for one hour and see what happen</h1>
        </div>
    </div>
</div>