---
layout: layouts/base.njk
title: Hate Aesthetic Monolog
styleScripts:
    - /css/aesthetic-monolog.css
tags:
    - feeds
    - flex
    - basic
    - in-progress
---

<div id="hate-aesthetic-monolog">
    <div id="poster-mono">
        <div class="region">
            <h2>CORRIDOR STORIES</h2>
            <h2>"THE WORLD NEVER HAPPY"</h2>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <h3>SCREENING ON YOUR LOCAL CINEMA</h3>
            <h3>24 FEB 2024</h3>
        </div>
        <div class="tile-convos">
        <div id="women-photo-inner">
            <img id="hangout-image" src="/images/feeds/girls-hangout.jpg" alt="Women Hangout" />
            <div id="head-aest">
                <h1>"I HATE AESTHETIC"</h1>
            </div>
            <div id="reply-aest">
                <h1>"YOU WANNA CIGS?"</h1>
            </div>
        </div>
        <div id="women-photo-inner">
            <img id="hangout-image" src="/images/feeds/girls-hangout.jpg" alt="Women Hangout" />
            <div id="head-aest">
                <h2>"THEY BORING"</h2>
            </div>
            <div id="reply-aest">
                <h2>"I FORGOT PAY MY TAX BILL"</h2>
            </div>
        </div>
        <div id="women-photo-inner">
            <img id="hangout-image" src="/images/feeds/girls-hangout.jpg" alt="Women Hangout" />
            <div id="head-aest">
                <h2>"AFRAID TO BE DUMB"</h2>
            </div>
            <div id="reply-aest">
                <h2>"I WANNA BUY ICE COFFEE FIRST"</h2>
            </div>
        </div>
        </div>
    </div>
</div>