---
layout: layouts/base.njk
title: KICIKKU Open Order Now Vintage Poster
styleScripts:
    - /css/kicikku-openorder.css
draft: true
tags: 
    - feeds
    - flex
    - intermediate
    - in-progress
---

<div id="openorder-page">
    <div id="first-poster">
        <img class="wrapper" src="/images/feeds/kicikku-openorder.jpg" />
        <div class="openorder-heading">
            <div id="open-circle"></div>
            <h1 class="openorder-title">OPEN ORDER NOW</h1>
        </div>
        <div id="openorder-company">
            <div>
            <p>VISUAL DESIGN STUDIO COMPANY. ESTABLISHED 2021</p>
            <h1>KICIKKU-SERVICE COMPANY</h1>
            <h3>For VC Service</h3>
            <h3>@KICIKKU</h3>
            </div>
            <p id="trademark--kurva">ALL RIGHT RESERVED. KURVA DIGITAL POSTER</p>
        </div>
    </div>
    <div id="second-poster">
        <img class="wrapper" src="/images/feeds/opening-hours-fish.jpg" />
        <h1 class="hours-title">OPENING HOURS</h1>
        <div id="hours-company">
            <div class="left-hour-item">
            <h2>MONDAY</h2>
            <p>09:45 - 16:30</p>
            </div>
            <div class="right-hour-item">
            <h2>TUESDAY</h2>
            <p>09:45 - 16:30</p>
            </div>
            <div class="left-hour-item">
            <h2>WEDNESDAY</h2>
            <p>09:45 - 16:30</p>
            </div>
            <div class="right-hour-item">
            <h2>THURSDAY</h2>
            <p>09:45 - 16:30</p>
            </div>
            <div class="left-hour-item">
            <h2>FRIDAY</h2>
            <p>09:45 - 16:30</p>
            </div>
            <div class="right-hour-item">
            <h2>SATURDAY</h2>
            <p>09:45 - 16:30</p>
            </div>
            <div class="left-hour-item">
            <h2>SUNDAY</h2>
            <p>CLOSED</p>
            </div>
        </div>
    </div>
</div>