---
layout: layouts/base.njk
title: KICIKKU "Open Order Now" Poster
styleScripts:
    - /css/kicikku-openorder.css
draft: true
tags: 
    - feeds
    - flex
    - basic
    - in-progress
---

<div id="openorder-page">
    <div id="first-poster">
        <img class="wrapper" src="/images/feeds/kicikku-openorder.jpg" />
        <h1 id="openorder-title">OPEN ORDER NOW</h1>
        <div id="openorder-company">
            <p>VISUAL DESIGN STUDIO COMPANY. ESTABLISHED 2021</p>
            <h1>KICIKKU-WebServiceCompany</h1>
            <h2>FOR VC SERVICE</h2>
            <h2>@KICIKKU</h2>
        </div>
    </div>
    <div id="second-poster">
        <img class="wrapper" src="/images/feeds/kicikku-openorder.jpg" />
        <h1>OPEN ORDER NOW</h1>
        <div>
            <p>SHOP VINTAGE STUDIO COMPANY. ESTABLISHED 2021</p>
            <h1>KICIKKU-WebServiceCompany</h1>
            <h2>FOR VC SERVICE</h2>
            <h2>@KICIKKU</h2>
        </div>
    </div>
</div>