---
layout: layouts/base.njk
title: Testing Neon Interactive Poster
styleScripts:
    - /css/neon-billboard.css
draft: true
tags:
    - feeds
    - flex
    - intermediate
    - in-progress
---

<div id="neon-page">
<div class="neon-boards">
    <div class="marquee-billboard">
    </div>
    <div class="region featured-frame">
    {# <iframe width="1080" height="960" src="https://www.youtube.com/embed/Xryh6KT9Cpg?controls=0&amp;mute=1&amp;autoplay=1&amp;loop=1&amp;clip=UgkxmaBgSaOiTBPSShEtzXsvcNIrUMImdKPC&amp;clipt=EJjsAxiw4QQ" title="Red Velvet Pose Live Short Clip" frameborder="0" allow="accelerometer; autoplay; mute; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe> #}
    </div>
    <div class="particle-billboard">
        <div class="particle--yellow">
        </div>
        <div class="particle--yellow">
        </div>
        <div class="particle--yellow">
        </div>
        <div class="particle--yellow">
        </div>
        <div class="particle--yellow">
        </div>
        <div class="particle--yellow">
        </div>
    </div>
    <div class="blocks-billboard">
        <div id="red-neon" class="board-item">
            <h1>UNDER PHARMA</h1>
            <h2>TRADITIONAL PHARMACY EST. 1942</h2>
        </div>
        <div id="lightgreen-neon" class="board-item">
            <h1>YELLOW FLOWER LOAN SERVICE</h1>
            <h1>LEASING YOUR CYCLE</h1>
            <div class="green-lines-neon">
            </div>
        </div>
        <div id="lightblue-neon" class="board-item">
            <div class="new-menus">
                <p>** COCONUT PANDAN</p>
                <p>** FRIED SHRIMP BALL</p>
                <p>** BEEF TRIPE</p>
                <p>** SWEET RICE CHICKEN</p>
                <p>** STUFF CRAB CLAWS</p>
                <p>** TARO WITH SHRIMP</p>
            </div>
            <h2>DIMSUM 24 HOURS CLICK AWAY</h2>
        </div>
        <div id="purple-neon" class="board-item">
            <h1 class="brand-item">VINTAGE BOXX</h1>
            <h1>Classic Movies Cinema</h1>
        </div>
    </div>
</div>
<div class="neon-mainmenu">
    {% for dimsum in restaurant.dimsums %}
                <div class="dimsum-menu-item">
                    <h3>{{ dimsum.attributes.chineseName }}</h3>
                    <h3>---- {{ dimsum.attributes.englishName }}</h3>
                    <h3>${{ dimsum.attributes.price }}</h3>
                </div>
        {# <div class="dimsum-menu-item">
            <h3>脚鸡</h3>
            <h3>---- FOOT CHICKEN</h3>
            <h3>$4,99</h3>
        </div> #}
    {% endfor %}
</div>
</div> 