---
layout: layouts/base.njk
title: Testing Neon Interactive Poster
styleScripts:
    - /css/neon-billboard.css
draft: true
tags:
    - feeds
    - flex
    - intermediate
    - in-progress
---

<div id="neon-page">
<div class="region wrapper">
<div class="marquee-billboard">
</div>
<div class="region featured-frame">
{# <iframe width="1080" height="960" src="https://www.youtube.com/embed/Xryh6KT9Cpg?controls=0&amp;mute=1&amp;autoplay=1&amp;loop=1&amp;clip=UgkxmaBgSaOiTBPSShEtzXsvcNIrUMImdKPC&amp;clipt=EJjsAxiw4QQ" title="Red Velvet Pose Live Short Clip" frameborder="0" allow="accelerometer; autoplay; mute; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe> #}
</div>
<div class="particle-billboard">
    <div class="particle--yellow">
    </div>
    <div class="particle--yellow">
    </div>
    <div class="particle--yellow">
    </div>
    <div class="particle--yellow">
    </div>
    <div class="particle--yellow">
    </div>
    <div class="particle--yellow">
    </div>
</div>
<div class="blocks-billboard">
    <div id="red-neon" class="board-item">
    </div>
    <div class="board-item">
        <div class="green-lines-neon">
        </div>
    </div>
    <div id="lightblue-neon" class="board-item">
    </div>
    <div id="purple-neon" class="board-item">
        <h1>Classic Movies Cinema</h1>
    </div>
</div>
</div>
</div> 