---
layout: layouts/base.njk
title: Sentimen Rindu di Pagi Hari
styleScripts:
    - /css/sentimen-pagi.css
tags: 
    - feeds
    - flex
    - basic
    - in-progress
---

<div id="sentimen-page">
    <div id="sentimen__bg-img">
        <img id="landscape-img" src="/images/feeds/sentimen-vibe-morning.JPG" />
        <div id="sentimen__headline">
            <div id="sentimen__inner-text">
            <h2 id="sentimen__question">Apa yang merindukanmu di pagi hari?</h2>
            <h1 id="sentimen__quote">Merindukan sentimen di samping kamu</h1>
            <p id="sentimen__sponsor">Kata kata ini disponsori oleh KICIKKU</p>
            </div>
        </div>
    </div>
</div>