
.invite-center > * {
    text-align: center;
    margin: 0 auto;
    margin-inline: auto;
    margin-top: 0;
}

.invite {

    web-navigation-drawer > * {
        color: #ffdf9e;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 80%);
        
        h2 {
            font-family: Cormorant, 'Times New Roman', Times, serif;
            font-size: 18px;
            margin-top: 0.8rem;
        }

        #black-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 60%);
            margin: 0;
        }
    
        #open-invitation {
            width: 200px;
            height: 60px;
            border: 0;
            border-radius: 1rem;
            background-color: rgb(247, 195, 87);

            button {
                color: black;
            }

            img {
                height: 25px;
            }

            h2 {
                margin-top: 0;
                color: black;
                font-size: 18px;
            }
        }

        #invite-box {
            z-index: 400;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            --region-space: 1em;

            #weeding-headline img {
                max-width: 275px;
                margin-top: 0.5rem;
            }
        }
    }
}


#undangan-modal-invite {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    h2 {
        font-family: Cormorant, 'Times New Roman', Times, serif;
    }
}

#undangan-background, #land-background {
    position: fixed;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#undangan-page {
    background-color: rgb(0 0 0 / 80%);
    color: rgb(247, 195, 87);
    font-family: 'Cormorant', 'Times New Roman', Times, serif;
    z-index: 4;
    position: relative;

    h1, h2, h3, h4, p {
        font-family: Cormorant, 'Times New Roman', Times, serif;
    }
}

#undangan-intro {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;

    --region-space: 3em;
    padding-left: 1rem;
    padding-right: 1rem;

    #couple-name {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    img {
        max-width: 300px;
    }

    #rima-ilman-logo {
        --region-space: 1rem;
    }

    #weeding-logo {
        max-height: 60px;
        --region-space: 1rem;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tag {
    opacity: 0;
}

.tag.visible {
    opacity: 1;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
    transform: translate(0, 0);
  }

#undangan-intro {
    // --region-space: 2rem;
    h1 {
        font-size: 42px;
        font-weight: 700;
    }
}

#undangan-speech {
    img {
        max-width: 200px;
        margin-inline: auto;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-weight: 400;
        font-size: 16px;
    }

    max-width: 700px;
    line-height: 1.5rem;

    #salam-cover {
        max-width: 300px;
    }
}

#event-countdown {
    justify-content: center;
    --edges-space: 2em;
}

.count-item {
    border: 1px solid rgb(247, 195, 87);
    border-radius: 1rem;
    text-align: center;
    max-width: 70px;
    margin-left: auto;
    margin-right: auto;

    h1, h2 {
        font-weight: 600;
    }

    h2 {
        font-size: 16px;
    }

    .count-inside {
        padding: 1rem;
    }
}

#istri-keluarga {
    --region-space: 2rem;
}

#suami-keluarga {

    .flow {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
    }

    h1, p {
        margin-inline: unset;
    }
}

.couple {
    --region-space: 1rem;
    --cluster-horizontal-alignment: center;
    max-width: 700px;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h1,
    p {
        margin-inline: auto;
    }

    > svg {
        display: block;
      }
}

.couple-columns {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: get-space('base');
    gap: $global-gutter;
}


@include media-query('md') {

    #undangan-background {
        img {
            max-width: 720px;
            object-fit: cover;
            margin: 0 auto;
        }
    }

    #undangan-speech {
    
        #salam-cover {
            max-width: 450px;
        }
    }

    .couple {
        --cluster-horizontal-alignment: center;
        text-align: left;
    }

    #suami-keluarga .couple-columns {
        grid-template-columns: 2fr 1fr;
        justify-items: end;
        align-items: center;
    }

    .couple-columns {
        grid-template-columns: 1fr 2fr;
        justify-items: start;
        align-items: center;
    }

    .count-item {
        max-width: 100px;
        margin-left: 0;
        margin-right: 0;
    }

    .photo-placeholder {
        max-width: 100px;
    }

    .flower-frame {
        img {
            max-width: 200px;
        }
    }
}

.bunga-border {
    min-width: 250px;
    margin-inline: auto;
}

.photo-placeholder {
    max-width: 100px;
    margin-inline: auto;

    svg {
        color: rgb(247, 195, 87);
        display: block;
        width: 100%;
    }
}

// #suami-keluarga {
//     --region-space: 2rem;
//     max-width: 700px;
// }

#istri-keluarga .repel {
    --guter: 5rem;
    justify-content: flex-start;
}

#suami-keluarga .repel {
    --guter: 5rem;
    justify-content: flex-end;
}

#keluarga-info {
    display: flex;
}

#undangan-event {
    --region-space: 1rem;
}

#undangan-date {
    max-width: 600px;
    max-height: 100px;
    padding: 1rem;
    justify-content: space-evenly;

    #date-month {
        font-size: 20px;
    }

    #date-day {
        border-right: 1px solid rgb(247, 195, 87);
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #date-year {
        border-left: 1px solid rgb(247, 195, 87);
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

#akad-nikah {
    --region-space: 2rem;

    
}

#akad-nikah * + * {
    margin-top: 1rem;
}

#resepsi-nikah {
    --region-space: 2rem;
}

.event-value {
    font-weight: 600;
}

.weeding-date {
    img {
        max-width: 50px;
    }

    h3 {
        font-size: 18px;
        font-family: 'Cormorant', 'Times New Roman', Times, serif;
    }
}

.weeding-location {
    img {
        max-width: 40px;
    }

    h3 {
        font-size: 18px;
    }

    #open-location {
        padding: 2vh;
        background-color: rgb(247, 195, 87);
        color: black;
        border: 0;
        border-radius: 1rem;
        width: 50%;
        margin: 0 auto;
        margin-top: 1em;

        h2 {
            color: black;
        }
    }
}

.flower-frame {
    min-width: 250px;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-inline: unset;
    img {
        max-width: 120px;
    }

    #reverse {
        rotate: y 0deg;
        // -webkit-transform-origin-y:rotate(180deg);
        transform: rotateY(180deg);
    }

}

#greets-box {
    .wrapper {
        max-width: 600px;
    }

    .send-button {
        background-color:  rgb(247, 195, 87);
        min-width: 300px;
    }
}

#undangan-greets {
    max-width: 700px;
    line-height: 2rem;
    --region-space: 2rem;
}

#ucapan-lists {
    max-height: 600px;
    border: 1px solid rgb(247, 195, 87);
    display: block;
    overflow: scroll;
    border-radius: 1rem;
    --edges-space: 2rem;
    background-color: whitesmoke;
    color: #0e1b2c;
}

.ucapan-item {
    border-bottom: 0.5px dotted;
    --flow-space: 0;
    margin: 1rem;
}

#undangan-footer {
    max-width: 700px;
    --region-space: 3rem;
    border-top: 1px solid rgb(247, 195, 87);
    h1 {
        font-size: 40px;
    }

    .flower-frame {
        rotate: 180deg;
    }

    #carousel-couple {
        --region-space: 2em;
    }

    #gallery-couple {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        gap: 1em;
        scroll-behavior: smooth;
        
      }
      
      #gallery-couple img {
         scroll-snap-align: center;
         max-height: 300px;
         object-fit: cover;
         border-radius: 1rem;
         width: 280px;
         margin-top: 0;
         margin-right: 1em;
      }

    #rima-ilham-logo {
        height: 45px;
    }
}

