
.masuk-root {
    background-color: rgb(227, 233, 224);
    --region-space: 2rem;

    h1, h2, h3, h4 {
        @include apply-utility('font', 'mono');
        font-weight: 400;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
        padding: 2rem;
        text-align: center;
    }

    p {
        font-size: 13px;
    }

    @include apply-utility('font', 'mono');
}

.masuk-layout-header {
    border: 1px solid black;

    #soset-header {
        max-width: 800px;

        p {
            padding-top: 1rem;
            text-align: center;
        }
    }

    h2 {
        font-size: 36px;
        padding: 1rem;
    }
}

#masuk-nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1rem;
    max-width: 1000px;
    background-color: #333333;

    a {
        color: #f9f9f9;
        font-size: 16px;
    }
}

.masuk-home {
    max-width: 1000px;
    background-color: white;
}

#masuk-logo {
    max-width: 600px;
    margin: 0 auto;
}

.masuk-layout-main {
    --sidebar-target-width: 600px;
    --sidebar-content-min-width: 25%;
    --edges-space: 1rem;
}

.masuk-posts {
    line-height: 1.5;
}

.masuk-article {
    margin-bottom: 4rem;
    border-bottom: 1px solid black;
}

.article-header {
    border: 1px solid black;
    padding: 1rem;
}

.side-masuk {
    border: 1px solid black;
    padding: 1rem;

    h2 {
        padding: 1rem;
    }

    #about-box {
        min-height: 300px;
        background-color: #e8642a;
        border-radius: 1rem;
        padding: 1rem;
        color: white;
        text-align: left;

        h2 {
            text-align: left;
        }

        p, h2 {
            margin-top: 0.5rem;
        }

        #gift-card {
            background-color: #333333;
            border-radius: 1rem;
        }
    }
}

.side-section {
    border: 1px solid black;

    li {
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }
}

.side-masuk ul {
    list-style-type: none;
}

.article-cover {
    min-height: 600px;
    object-fit: cover;
}

.article-content {
    --region-space: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.article-tags {
    justify-content: flex-start;
}

.article-tags p {
    background-color: black;
    color: white;
}

.masuk-layout-footer {
    border-top: 1px solid black;
    --region-space: 2rem;
}