
// Alternative Tabs

// PALM SUGAR COLOR: #0b0303
// YOUNG PALM SUGAR COLOR: #260901
// WAFFLE COLOR: #d3aa54
// FOOD GREEN COLOR: #024a30

.tab-panels {
    // background-color: rgb(239, 189, 143);
}

#tab-lists {
    /* border-bottom: 1px solid black; */
    padding: 1rem;
    max-width: 1000px;
    // margin: 0 auto;
    /* margin-top: 1rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
}

#tab-items {
    margin: 0 auto;
}

#tab-lists span {
    padding: 1rem;
    font-size: 24px;
}

.tab-item {
    background-color: black;
    border-radius: 1rem;
    color: white;
    margin-right: 1rem;
}

.tab-item-selected {
    background-color: white;
    color: black;

}

#dessert-info {
    font-size: 20px;
    // border: 2px solid black;
    border-radius: 2rem;
    --edges-space: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 600px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

#dessert-intro {
    border-bottom: 2px solid black;
}

#dessert-store {
    // background-color: black;
    color: black;
    // max-width: 250px;
    padding: 1rem;
    border-radius: 2rem;
}

#dessert-featured {

    h1 {
        font-size: 80px;
        position: relative;
        color: black;
    }

    img {
        clip-path: circle(241px at 243px 244px);
        max-height: 500px;
        position: relative;
        top: -2em;
        z-index: 2;
    }
}

#dessert-title {
    border-radius: 2rem;
    padding: 1rem;
    font-size: 30px;
    text-align: left;
    text-decoration: underline;

    h1 {
        font-size: 45px;
    }
}

.dessert-cover {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 200px 200px 200px 200px;

    img {
        grid-column: 1 / 5;
        z-index: 1;
        min-height: 800px;
        object-fit: cover;
    }
}

#des-slogan {
    background-color: yellow;
    padding: 2em;
    border-radius: 14rem;
    max-width: 200px;
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 4; 
    z-index: 2;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
}

// 

#dessert-list, #coffee-list {
    --auto-grid-min-item-size: 22rem;
}


#dessert-page {
    // background-color: rgb(227, 206, 173);
    // background-color: white;
    --edges-space: 0rem;
}

.dessert-filters {
    display: flex;
    // justify-content: left;
    --region-space: 1rem;
    border-bottom: 2px solid black;
}

#dessert-slot {
    margin: 1rem;
}

#coffee-slot {
    margin: 1rem;
    min-height: 600px;
}

#dessert-heading, #coffee-heading {
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    font-weight: 400;
    font-size: 28px;
    --edges-space: 2rem;
}

.dessert-cat {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    font-size: 20px;
    color: black;
    border: none;
    appearance: none;
    cursor: pointer;
    padding: 0.55rem 0.7rem;

    // @include apply-utility('font', 'serif');


    &:hover {
        border-bottom: 2px solid black;
    }   
}

.dessert__item {
    color: black;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    text-align: left;
    // transition: opacity 1s ease;
    // opacity: 0;
    opacity: 1;
    transition: opacity $global-transition-fade;
}

.dessert__item-cover {
    max-height: 500px;
    min-width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    // margin: 1rem;
}

.dessert-item__title {
    color: black;
    font-weight: 400;
    font-size: 24px;
}