---
title: Kurva, Web Design Experiments Lab
---
<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/head.njk' %}
    </head>
    <body>
        {% include "partials/site-header.njk" %}
        {{ content | safe }}
        {% include "partials/site-footer.njk" %}
    </body>
</html>