---
layout: 'layouts/base'
eleventyComputed:
  noindex: "{{ paged.index > 0 }}"
---

{# {% from 'macros/feed-card.njk' import feedCard with context %} #}
{% from 'macros/tag-pills.njk' import tagPills with context %}

<main class="wide-card-index" id="main">
    <div class="heading__home">
        <div class="wrapper region">
            <div class="all-center">
            <h2 class="headline__title">{{ renderData.title or title }}</h1>
            <p>{{ renderData.description | safe or description | safe }}</p>
            </div>
        </div>
    </div>
    <div class="auto-grid" id="archive__collections">
        {% for feed in paged.elements %}
            {# {% set data = feed.data %} #}

            {# {{ feedCard({ #}
                {# title: feed.data.title or 'Lalala', #}
                {# url: feed.url, #}
                {# cover: feed.data.cover, #}
                {# tags: feed.data.tags, #}
                {# jurnal: feed.data.jurnal #}
            {# }) }} #}
            <article class="card" >
            <a href="{{ feed.url }}" class="w-stack">


                <h2>{{ feed.data.title }}</h2>
            </a>
            <a href="{{ feed.url }}">Source Key</a>

            {% if feed.data.tags %}
                <div class="card__tags cluster gap-top-base" aria-label="tags for this page">
                    {{ tagPills(feed.data.tags) }}
                </div>
            {% endif %}
            </article>  
            
        {% endfor %}
    </div>
</main>