---
layout: 'layouts/base'
---

{# {% from 'macros/feed-card.njk' import feedCard with context %} #}
{% from 'macros/tag-pills.njk' import tagPills with context %}

{% set paged = collections.feeds %}

<main class="wide-card-index" id="main">
    <div class="heading__home">
        <div class="region">
            <div class="heading__section">
            <h1>Web Design Publishing Index</h1>
            <p>Exploring graphic design, layout and typography into CSS and web pages.</p>
            </div>
        </div>
    </div>
    <div class="" id="archive__collections">
        <div class="archive__header">
            <p class="header__row">Name</p>
            <p class="header__row">Display</p>
            <p class="header__row">Status</p>
        </div>
        {% for feed in paged | reverse %}
            <article class="card" style="--bg-img-src: url({{ feed.data.cover }});" cover-image="{{ feed.data.cover }}">
            <a href="{{ feed.url }}" class="w-stack">

                <h4>{{ feed.data.title }}</h4>
            </a>

            {% if feed.data.tags %}
                <div class="card__tags cluster gap-top-base" aria-label="tags for this page">
                    {{ tagPills(feed.data.tags) }}
                </div>
            {% endif %}

            {% if feed.data.jurnal %}
                <a class="card-source__link" href="{{ feed.data.jurnal }}">Source Key</a>
            {% endif %}
            </article>  
            
        {% endfor %}
    </div>
</main>