---
layout: 'layouts/landing-page'
pageScripts:
    - '/js/access-source.js'
---

{% from 'macros/tag-pills.njk' import tagPills with context %}


<div class="source-page">
    <div class="source-inner wrapper region">
        <header class="region source__header">
        <h3 class="source__heading">
            {{ renderData.title }}
        </h3>

        {% if renderData.demo %}
            <a class="source__demo" href={{ renderData.demo }}>Demo</a>
        {% endif %}

        {% if renderData.premium !== false %}
            <p class="source__premium">Access Premiums</p>
        {% endif %}

        {% if tags %}
                <div class="card__tags cluster gap-top-base" aria-label="tags for this page">
                    {{ tagPills(tags) }}
                </div>
        {% endif %}
        </header>

        <div class="w-stack">
            <div class="content-code">
                 {{ content |  safe }}
            </div>
            <div class="source__footnote">
                <p>Source code of this web page is the part of the process of this work.</p>
                <p>Not necessary standard for you to follow, your modification and own expression really recommended to learn CSS and HTML</p>
            </div>
        </div>
    </div>
</div>