

#archive__collections {
    margin: 1rem;
}

.heading__home  {
    // color: whitesmoke;
    // background-color: black;
    border-top: 1px solid black;
    margin-left: 1rem;
    @include apply-utility('font', 'mono');

    .region {
        --region-space: #{get-space('size-1')};
    }

    h1 {
        font-size: 1.8rem;
    }
}

.card {
    padding: 1rem;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    border-left: 1px solid black;
    // background-image: url(var(--bg-img-src, ""));

    &:hover {
        background-color: black;
        
        h1, h2, h3 {
            color: white;
        }
    }

    &:hover::after, &:focus::after {
        content: var(--bg-img-src, "");
        background-size: 500px;
        top: 0;
        right: 0;
        position: absolute;
        max-width: 600px;
        max-height: 600px;
        background-color: black;
        color: white;
    }
    
}

.card__tags {
    margin-top: 0;
}

.heading__section {
    
    h1 {
        @include apply-utility('font', 'serif');
    }
}