

#archive__collections {
    margin: 2rem;
}

.heading__home  {
    // color: whitesmoke;
    // background-color: black;
    border-top: 1px solid black;

    .region {
        --region-space: #{get-space('size-2')};
    }

    h1 {
        font-size: 4rem;
    }
}