

#archive__collections {
    margin: 2rem;
}

.heading__home  {
    // color: whitesmoke;
    // background-color: black;
    border-top: 1px solid black;
    margin-left: 2rem;
    @include apply-utility('font', 'serif');

    .region {
        --region-space: #{get-space('size-1')};
    }

    h1 {
        font-size: 1.8rem;
    }
}

.heading__section {
    
    h1 {
        @include apply-utility('font', 'serif');
    }
}