
.source__header {
    border-top: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    --region-space: 2rem;
}

.source__heading {
    font-size: 4rem;
}

.source__demo {
    text-decoration: underline;
}

.source__premium {
    color: gray;
}