
.card {
    @include card-base-styles;

    img {
        border-radius: 1em;
    }

    h1, h2, h3, h4 {
        font-weight: 400;
        font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
        color: #252525;
    }
}

.card__tags {
    --gutter: 0.5rem;
    margin-block-start: get-space('base');
}

.card-source__link {
    text-decoration: underline;
    color: gray;
}