
@media (prefers-color-scheme: dark) {
   .site-footer {
    background-color: black;
    color: white;
   }

   .w-footer {
    border-top: 1px solid white;
    
    a {
        text-decoration: underline;
        color: white;
    }
   }
}
 
[data-user-theme="light"] {
    .site-footer {
        background-color: white;
        color: black;
    }

    .w-footer {
        border-top: 1px solid black;
    }

    a {
        color: black;
    }

}

.site-footer {
    padding: $global-gutter;
    
    ul {
        padding: 0;
    }

}

.w-footer {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 14px;
}