/// SITE HEADER
/// The main, global header that is on each page
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    border-bottom: 1px solid whitesmoke;
    line-height: 1;
    // background-color: black;
    color: black;
}

.account-items {
    z-index: 999;
    float: left;
    color: white;
    background-color: black;
    padding: 1rem;
    line-height: 20px;
    position: absolute;

    a {
        color: white;
    }
}

.site-header__brand {
    display: block;
    text-align: center;
    margin-inline: auto;
    color: black;
}