---
layout: layouts/restrict-page.njk
permalink: /{{ paged.url }}index.html
title: The Weeding of Rima and Ilman
thumbnail: 'https://kurva.xyz/images/rm/cover-6-og.jpg'
alt: Picture of The Weeding of Rima and Ilman
renderData:
    title: "{{ paged.title }}"
    description: "{{ paged.description }}"
pageScripts:
    - '/js/invitation-page.js'
pagination:
  data: collections.invitations
  size: 1
  alias: paged
  resolve: values
  addAllPagesToCollections: true
---

{% include "partials/transition-scroll.njk" %}


<div class="invite">
<web-navigation-drawer type="standard">
    <audio id="bg-sound" class="audio__element" autoplay preload="auto">
    <source src="{{ helpers.hashForProd('/audio/nothing-gonna-change-modern.mp3') }}" type="audio/mpeg">
    </audio>    
    <div data-drawer-container class="invite-center w-stack">
        <div id="undangan-background">
            <img alt="Couple Background" src="/images/rm/cover-5-intro.jpg"></img>
        </div>
        <div id="black-overlay">
            
        </div>
        <div class="region gap-top-size-4 invite-center" id="invite-box">
            <div class="invite-center" id="weeding-headline">
                <h2>You are invited!</h2>
                <h2>The Wedding of</h2>
                <img alt="Rima Ilman Logo" src="/images/rm/rima-ilham-logo.png"></img>
            </div>
            <div class="region">
            <h2>Kepada Yth:</h2>
            <h2 class="guest-name">{{ paged.data.namaUndangan }}</h2>
            <button data-drawer-close-button id="open-invitation">
                <div style="display: flex; flex-direction: row; align-items: center; gap: 1rem; margin-right: 10px; justify-content: center;">
                    <img alt="email-icon" src="/images/email.svg"></img>
                    <h2>Open Invitation</h2>
                </div>
            </button>
            </div>
        </div>
    </div>
</web-navigation-drawer>
<main>
</base-modal>
<div id="land-background">
    <img alt="Padang Background" src="/images/feeds/padang.JPG"></img>
</div>
<div id="undangan-page">
    <div id="undangan-intro" class="region wrapper invite-center w-stack">
        {# <img alt="Flower of Weeding" src="/images/feeds/bunga-utama-weeding-of.png"></img> #}
        <img id="weeding-logo" alt="Weeding Logo" class="region" src="/images/rm/wedding-of-logo.png"></img>
        <img id="rima-ilman-logo" alt="Rima Ilman Logo" class="region" src="/images/rm/rima-ilham-logo.png"></img>
    </div>
    <div id="undangan-speech" class="wrapper invite-center">
        <div class="w-stack">
        <img id="salam-cover" alt="Assalamualaikum" src="/images/feeds/Salam@8x.png"></img>
        <p>Maha suci Allah yang telah menciptakan mahluk-Nya berpasang-pasangan.
            Ya Allah, perkenankanlah kami merangkaikan kasih sayang yang
            kau ciptakan diantara kami untuk mengikuti Sunnah Rasul-Mu dalam
            rangka membentuk keluarga yang sakinah, mawaddah, warahmah.</p>
        {# <img alt="Small Flower" src="/images/feeds/small-flower.png"></img> #}
        <p>Kami bermaksud untuk menyelenggarakan acara pernikahan kami
                dan kami ingin anda menjadi bagian dari hari istimewa kami</p>
        </div>
        <div id="event-countdown" class="repel edges">
            <div id="count-day" class="count-item">
                <div class="count-inside">
                <h1 id="day"></h1>
                <h2>Hari</h1>
                </div>
            </div>
             <div id="count-hour" class="count-item">
                <div class="count-inside">
                <h1 id="hour"></h1>
                <h2>Jam</h1>
                </div>
            </div>
             <div id="count-minute" class="count-item">
                <div class="count-inside">
                <h1 id="minute"></h1>
                <h2>Menit</h1>
                </div>
            </div>
             <div id="count-second" class="count-item">
                <div class="count-inside">
                <h1 id="second"></h1>
                <h2>Detik</h1>
                </div>
            </div>
        </div>
        {% include "partials/countdown-time.njk" %}
        {# <countdown-time></countdown-time> #}
    </div>
    <div class="couple invite-center wrapper region tag">
        <img class="bunga-border" alt="Bunga Line Footer" src="/images/feeds/bunga-line-footer.png"></img>
        <div class="sidebar region">
        <div class="flow">
            <h1>Rima Nuzla Fitri, S.T</h1>
            <h2>Putri dari</h2>
            <p>Drs. H. Edi Saputra - Dra. Hj. Nurbainir<p>
        </div>
        </div>
    </div>
    <div class="couple invite-center wrapper region tag">
        <div class="sidebar region" data-direction="rtl">
        <div class="flow">
            <h1>Ilman Nur Syamsudin, S.P</h1>
            <h2>Putra dari</h2>
            <p>Alm. Drs. Dicky Akhmad Haidir dan Enung Nurani<p>
        </div>
        </div>
        <img class="bunga-border" alt="Bunga Line Footer" src="/images/feeds/bunga-line-footer.png"></img>
    </div>
    <div id="undangan-event" class="wrapper invite-center region tag">
        <h3>Rangkaian Acara akan diselenggarakan pada:</h3>
        <div id="undangan-date" class="auto-grid region">
            <h1 id="date-day">Minggu</h1>
            <div id="date-flex"><h1 id="date-month">7</h1><h1 id="date-month">Agustus</h1></div>
            <h1 id="date-year">2022</h1>
        </div>
        <div id="akad-nikah" class="region w-stack tag">
            <div class="weeding-date invite-center w-stack">
                <img style="filter: invert(90%) sepia(64%) saturate(1409%) hue-rotate(315deg) brightness(100%) contrast(95%);" alt="Calendar Icon" src="/images/time.svg"></img>
                <h3>Pukul 10.00 WIB</h3>
            </div>
            <div class="weeding-location invite-center">
                <img style="filter: invert(90%) sepia(64%) saturate(1409%) hue-rotate(315deg) brightness(100%) contrast(95%);" alt="Location Icon" src="/images/location.svg"></img>
                <h3 class="event-value">Lokasi Acara</h3>
                <h3>Serela Riau Bandung Hotel</h3>
                <p>Jl. L. L. R.E. Martadinata No.56, Citarum, Kec. Bandung Wetan, Kota Bandung, Jawa Barat 40115</p>
                <a target="_blank" href="https://goo.gl/maps/Cv2uJUcrH6eW7K9C9">
                <div class="golden-button" id="open-location">
                    <h2>Menuju lokasi</h2>
                </div>
                </a>
            </div>
        </div>
        {# <div id="resepsi-nikah" class="region w-stack tag">
            <h1>Resepsi</h1>
            <div class="weeding-date invite-center w-stack">
                <img alt="Calendar Icon" src="/images/feeds/calendar-icon.png"></img>
                <h3 class="event-value">Minggu, 25 Agustus 2022</h3>
                <h3>Pukul 07.00 WIB</h3>
            </div>
            <div class="weeding-location invite-center">
                <img alt="Location Icon" src="/images/feeds/location-icon.png"></img>
                <h3 class="event-value">Lokasi Acara</h3>
                <h3>Jl. Batununggal, Kab. Bandung, Jawa Barat</h3>
            </div>
        </div> #}
    </div>
    <div id="undangan-greets" class="wrapper invite-center region tag">
        {# <div class="flower-frame repel">
            <img id="reverse" alt="Bunga Frame Left" src="/images/feeds/bunga-frame.png"></img>
            <img alt="Bunga Frame Right" src="/images/feeds/bunga-frame.png"></img>
        </div> #}
        <div class="w-stack--sm tag">
            <p>"Dan Diantara tanda-tanda kebesaran-Nya ialah diciptakan-Nya untukmu pasangan hidup dari jenismu sendiri supaya kamu mendapatkan ketenangan hati
                dan dijadikan-Nya kasih sayang diantara kamu sesungguhnya yang demikian menjadi tanda-tanda kebesaran-Nya bagi orang-orang yang berfikir" (Q.S Ar-Ruum : 21)</p>
            {# Greeting Comments Box #}
            {# {% include "partials/ucapan-form.njk" %} #}
            <div id="greets-box" class="tag">
                {% include "partials/ucapan-form.njk" %}
                <ucapan-list></ucapan-list>
            </div>
        </div>
    </div>
    <div id="undangan-footer" class="wrapper invite-center w-stack region tag">
        {# <img alt="Bunga Line Footer" src="/images/feeds/bunga-line-footer.png"></img> #}
        <img src="/images/rm/protokol-kesehatan.png"></img>
        <web-carousel>
            <div id="carousel-couple" class="carousel region">
            <div id="gallery-couple" data-scroll="snap">
                <img class="card-couple" src="/images/rm/cover-3.jpg"></img>
                <img class="card-couple" src="/images/rm/cover-4.jpg"></img>
                <img class="card-couple" src="/images/rm/cover-2.jpg"></img>
                <img class="card-couple" src="/images/rm/cover-5-og.jpg"></img>
            </div>
            </div>
        </web-carousel>
        <div id="list-mengundang" class="region">
            <h1>TURUT MENGUNDANG</h1>
            <div class="region" id="pihak-laki-laki">
                <h2>Pihak Laki Laki</h2>
                <p>Keluarga Besar Apa Udin Syamsudin/ Mih Oom Komariah</p>
                <p>Keluarga Besar Aki Salim / Nene Idah</p>
                <p>Keluarga Besar Dinas Pertanian / Ketahanan Pangan Kabupaten Karawang</p>
                <p>Gilang Rahmat Pratama / Laili Lutfiatur Rahma (Kakak)</p>
                <p>Reza Suwardi (Adik)</p>
                <p>Fadly Ahmad Fadhillah (Adik)</p>
            </div>
            <div class="region" id="pihak-perempuan">
                <h2>Pihak Perempuan</h2>
                <p>Masnisjar / Khamidar (Mak Dang / Mak Tuo)</p>
                <p>Nuraini / Darwin (Ibu / Pak Dang)</p>
                <p>Musniar / Idramayulis ( Tante / Om )</p>
                <p>Musri / Fitriani ( Mak Etek / Tante )</p>
                <p>Erizal (Pak Tuo) </p>
                <p>Nelfiani / Adriwita (Etek / Om)</p>
                <p>Keluarga Besar BSI KCP Karawang</p>
                <p>Abdianul Haiqal / Kanigia Inderasty (Kakak)</p>
                <p>Rinda Nuzla Rahmi / Ahmad Irfan (Kakak)</p>
                <p>Ilna Nuzla Putri (Adik)</p>
                <p>Ninik Mamak</p>
                <p>Urang Sumando / Seluruh Sanak Keluarga</p>
            </div>
        </div>
        <div class="region">
            <h3>Atas kehadiran dan doa restu dari Bapak/Ibu/Saudara/i sekalian kami mengucapkan terima kasih</h3>
            <p>Wassalamualaikum Warahmatullahi Wabarakatuh</p>
            <h3>KAMI YANG BERBAHAGIA</h3>
            <div id="pihak-keluarga" class="auto-grid region">
            <div id="kel-flex"><h2>Kel. Bpk. Drs. H. Edi Saputra</h2><h2>Ibu Dra. Hj. Nurbainiir</h2></div>
            <div id="kel-flex"><h2>Kel. Alm. Drs. Dicky Akhmad Haidir</h2><h2>Ibu Enung Nurani</h2></div>
            </div>
        </div>
        {# Side Flower Image #}
        {# <div class="flower-frame repel">
            <img id="reverse" alt="Bunga Frame Left" src="/images/feeds/bunga-frame.png"></img>
            <img alt="Bunga Frame Right" src="/images/feeds/bunga-frame.png"></img>
        </div> #}
    </div>
</div>
</main>
</div>

            {# <button class="icon-button" data-direction="prev" aria-label="back">
                                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:none;}
                </style>
                <title>caret--right</title>
                <polygon points="20,24 10,16 20,8 "/>
                <rect class="st0" width="32" height="32"/>
                </svg>
            </button> #}