
@import '../bases';

// #073231

#favorite-spot-ptk {
    background-color: #0251a8;
    min-height: 1000px;
}

@keyframes stayFly {
	0% {
		font-size: 4rem;
	}
	100% {
		font-size: 6rem;
	}
}

@keyframes stayFlyReverse {
	0% {
		margin-top: 2em;
	}
	100% {
		margin-top: 1em;
	}
}

@keyframes fadingIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadingOut {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.dragme {
    cursor: move;
}

.big-size-spot {
    font-size: 8em;
    color: #f3f1ed;
    margin: 0 auto;
    border-top: 0.8px solid #f3f1ed;
    border-left: 0.8px solid #f3f1ed;
    border-right: 0.8px solid #f3f1ed;

    h1 {
        font-size: 4rem;
        line-height: 3rem;
        font-weight: 700;
        
    }

    #title-big {
        font-size: 4rem;
        padding: 1rem;

        h1 {
            opacity: 0;
            animation-name: fadingIn;
            animation-duration: 1s;
            // animation-timing-function: ease-in;
            animation-timing-function: cubic-bezier(.76,.05,.86,.06);
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-direction: alternate;
        }

        #journey-label {
            animation-delay: 0.2s;
        }

        #bill-label {
            animation-delay: 0.4s;
        }

        #city-label {
            animation-delay: 0.6s;
        }
    }
}

#spot-box {
    position: absolute;
    width: 480px;
    height: 640px;
    right: 10em;
}

#bill-table {
    gap: 0;
} 

#inner-spot {
    padding: 1em;
    min-height: 600px;
    margin: 0 auto;
}

#bill-summary {
    background-color: #f3f1ed;
    width: 800px;
}

#bill-tables {
    background-color: #f3f1ed;
    min-height: 400px;
    width: 800px;
}

.spot-item {
    min-height: 100px;
    border: 0.8px solid #0251a8;
    padding: 1em;
    display: flex;
    flex-direction: column;

    h1, h2 {
        color: #0251a8;
    }

    .spot-label {
        font-weight: 400;
    }
}

.spot-foot {
    float: right;
    font-weight: 400;
    text-align: right;
    

    h2 {
        border-bottom: 1px solid #0251a8;
    }
}

.bill-cart-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0251a8;

    h2 {
        color: #0251a8;
    }
}

#bill-cart-label {
    padding: 1rem;
    color: #0251a8;
}