@import '../bases';


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 1rem));
    }
  }

  @keyframes scrollReverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(101% - 1rem));
    }
  }


  @keyframes scrollLemon {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes scrollVertical {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateY(calc(-100% - 1rem));
    }
  }


  @keyframes rotate3d {
    0% {
        transform: rotate3d(0);
    }
    100%{
        transform: rotate3d(1, 90, 1, 90deg)
    }
  }

#lemon-page {
    min-height: 100vh;
    background: linear-gradient(#98dae9, #589ac6);
}

.lemon-board {
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 1em;
}

#lemon-banner {
    min-height: 40vh;
    display: flex;
    padding: 0;
    position: relative;
    border-radius: 1rem;
    flex-wrap: wrap;
}

#lemon-banner-animated {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#subscribe-link {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#lemon-banner-cover {
    background-size: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f8f2ab;

    #lemon-lines {
        display: flex;
        min-width: 100%;
        justify-content: space-around;
        padding: 2rem;
        // animation: scrollLemon 10s linear infinite;

        img {
            border: 1px solid black;
            border-radius: 10em;
            animation: scrollLemon 5s linear infinite alternate;
        }

        li {
            
            &:before {
                content: unset;
            }
        }
    }

    li {
        margin-top: 0;
    }
}

#lemon-banner-inner {
    padding: 1rem;
    width: 100%;
    background-color: #176a57;
    height: 300px;

    #lemon-heading {
        color: #f8f2ab;
        padding: 0.5em;
        text-align: center;
        font-weight: 400;

        h2 {
            font-weight: 400;
            font-size: 28px;
        }
    }

    #lemon-policy {
        font-size: 12px;
    }
}

#empty-yellow {
    --sidebar-target-width: 3rem;
    border-right: 1px solid black;
}

#beli-sekarang-link {
    padding: 1em;
    border-radius: 1em;
    background-color: #f8f2ab;
    color: black;
    margin: 1em;
    font-size: 18px;
    border: 1px solid black;
}

#list-ingredient {
    gap: 1rem;
    animation: scrollVertical 8s linear infinite;

    li {
        border-bottom: 1px solid black;

        h2 {
            font-size: 20px;
            text-align: left;
            padding-bottom: 0.5rem;
        }

        &:before {
            content: unset;
        }
    }
}

#first-menu-lemon {
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    #inside-lemon {
        border-right: 1px solid black;

    }
}

#lemon-tagline {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    padding: 0.8rem;
}

#lemon-slogans {
    display: flex;
    min-width: unset;
    justify-content: space-around;
    animation: scroll 12s linear infinite;
    gap: 1rem;

    li {
        margin-top: 0;
        background-color: white;
        border-radius: 2rem;
        border: 1px solid black;
        padding: 1rem;
        width: 160px;
        h2 {
            font-weight: 400;
            text-align: center;
        }

        &:before {
            content: unset;
        }
    }
}

.lemon-sub {
    padding: 1rem;
    background: linear-gradient(#faf9ee, #f27a52);
    text-align: center;

    .lemon-sub-inner {
        min-height: 30vh;
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    #menu-inner {
        background: linear-gradient(#efe12f, #f8f2ab);
        overflow: hidden;
        max-height: 30vh;
    }

    #promo-inner {
        background-color: white;
        overflow: hidden;
        // display: flex;
        gap: 1rem;
        max-height: 30vh;

        #promo-lemon-bg {
            width: 100%;
            min-height: 30vh;
            // background-image: url('/images/feeds/lemon-clip-2.png');
            // background-size: 60px;
            // background-repeat: space;
            
        }

        #lemon-clip-bg {
            display: flex;
            justify-content: space-around;

            li {
                animation: rotate3d 3s linear infinite alternate;
                margin-top: 0;

                &:before {
                    content: unset;
                }

                img {
                    width: 250px;
                }
            }
        }

        #promo-lemon-text {
            position: relative;
            bottom: 10rem;
            z-index: 2;
        }

        #promo-lemon-bg-second {
            min-width: 100%;
            min-height: 30vh;
            background-image: url('/images/feeds/lemon-clip-2.png');
            background-size: 40px;
            background-repeat: space;
            transform: translateX(-100%);
            // animation: scrollRightBottom 10s linear infinite;
        }
    }
}

#inside-lemon, #promo-lemon {
    width: 100%;
    min-height: 40vh;
    font-weight: 400;

    h2 {
        font-weight: 400;
        text-align: center;
        font-size: 1.5em;
    }
}

#buy-now-button {
    background-color: white;
    border-radius: 1rem;
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    

    #buynow-inner {
        gap: 1rem;
        display: flex;
        overflow: hidden;
    }

    li {
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1em;
        background-color: #176a57;
        width: 300px;

        &:before {
            content: unset;
        }
    }
    
    h2 {
        font-weight: 400;
        color: white;
        border-radius: 1px solid white;
        font-size: 20px;
        color: white;
    }

}

#list-buynow-text {
    display: flex;
    gap: 1rem;
    animation: scroll 16s linear infinite reverse;
    justify-content: space-around;


    li {
        margin-top: 0;
    }
}

@include media-query('md') {

    .lemon-board {
        margin: 1em;
        border-radius: 1em;
    }

    #lemon-slogans {
        min-width: 100%;

        li {
            width: unset;
        }
    }

    #lemon-banner-animated {
        width: 50%;
    }

    #lemon-banner-inner {
        width: 50%;
        height: unset;
        border-radius: 1rem;

        #lemon-heading {
            padding: 6em;
            
            h2 {
                font-size: 30px;
            }
        }
    }

    #inside-lemon, #promo-lemon {
        width: 50%;

        h2 {
            font-size: 2em;
        }
    }

    #list-ingredient {

        li {
            h2 {
                font-size: 24px;
            }
        }
    }

    #buy-now-button {

        h2 {
            font-size: 24px;
        }
    }

}