@import '../bases';

@font-face {
    font-family: 'Adieu';
    font-weight: 400;
    font-display: optional;
    src: local('Cormorant-SemiBold'),
      url('/fonts/Adieu-Light.otf');
  }
  

@keyframes motionbg {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

#gradient-soap-page {
    
    width: 100%;
    overflow: hidden;
}


#gradient-inner {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: 400% 400%;
    overflow: hidden;
}

#poster {
    overflow: hidden;
    max-width: 1080px;
    min-height: 1350px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(-45deg, #f16757, #e5d1cc);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    position: relative;
}

#circle-blue-dark {
    width: 100%;
    height: 200px;
    top: 0;
    filter: blur(20px);
    background-color: #0a172e;
    box-shadow: 10px -40px 20px 100px #0a172e;
    z-index: 3;
    border-radius: 30vh;

}

#circle-blue-light {
    width: 600px;
    height: 600px;
    color: #f9760d;
    bottom: 0;
    filter: blur(40px);
    background-color: #f9760d;
    box-shadow: 10px -40px 40px 100px;
    z-index: 2;
    border-radius: 30vh;
}

#circle-red {
    width: 100%;
    height: 400px;
    color: red;
    right: 0;
    filter: blur(40px);
    background-color: red;
    box-shadow: 10px -40px 40px 100px;
    z-index: 2;
    border-radius: 30vh;
}

#circle-ocean {
    width: 100%;
    height: 400px;
    color: red;
    right: 0;
    filter: blur(40px);
    background-color: red;
    box-shadow: 10px -40px 40px 100px;
    z-index: 2;
    border-radius: 30vh;
}

#gradient-top {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;

    h1, h2, h3, p {
        color: white;
        font-size: 45px;
        font-weight: 400;
    }
}

#gradient__nav-links {
    display: flex;
    justify-content: space-around;
    gap: 2em;

    a {
        color: white;
        @include apply-utility('font', 'mono');
        border-radius: 1rem;
        padding: 1rem;

        &:hover {
            text-decoration: underline;
            background-color: white;
            color: black;
        }
    }
}

#gradient-sponsor {
    margin-top: 1rem;
    p {
        font-family: 'Adieu', Segoe UI,system-ui,-apple-system,sans-serif;
        font-size: 18px;
    }
}

#gradient-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em;

    #gradient-layer__title, #gradient-layer__subtitle, #gradient-layer__place, #gradient-layer__date {
        font-family: 'Adieu', Segoe UI,system-ui,-apple-system,sans-serif;
        font-size: 20px;
    }

    #gradient-layer__place, #gradient-layer__place {
        font-size: 14px;
    }
}

#gradient-guests {
    margin: 1rem;
    --region-space: 1rem;

    .grouped-lists {
        display: flex;
    }

    .class-stage {
        font-size: 20px;
        font-family: 'Adieu', Segoe UI,system-ui,-apple-system,sans-serif;
    }
    
    p {
        @include apply-utility('font', 'mono');
        font-size: 16px;
    }
}

#gradient-baazar {
    margin: 1rem;
    --region-space: 1rem;
    
    p {
        @include apply-utility('font', 'mono');
        font-size: 16px;
    }

    .bazaar-lists {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1em;
    }

    .bazaar__item {
        margin: 1rem;
        gap: 1em;
    }
}

.guest__item {
    margin: 1rem;
}

#gradient-schedule {
    h3 {
        font-size: 20px;
        @include apply-utility('font', 'mono');
    }
}

#gradient-submit {
    margin-bottom: 1em;
    a {
        
    }
    h2 {
        font-size: 24px;
        font-family: 'Adieu', Segoe UI,system-ui,-apple-system,sans-serif;
        max-width: 400px;
        color: whitesmoke;
        border-radius: 1em;
        border: 1px solid whitesmoke;
        padding: 1em;
        text-align: center;

        &:hover {
            text-decoration: underline;
            background-color: whitesmoke;
            color: red;
        }
    }
}

#event-sample-mark {
    @include apply-utility('font', 'mono');
    text-align: center;


    p {
        font-size: 11px;
        font-weight: 400;
    }
}

@include media-query('md') {

    #gradient-top {
        padding: 2em;
    }

    #gradient__nav-links {
        flex-direction: row;
        gap: 1em;
    }

    #gradient-type {
        padding: 3em;

        #gradient-layer__title, #gradient-layer__subtitle, #gradient-layer__place {
            font-size: 45px;
        }
        
        #gradient-layer__place, #gradient-layer__date {
            font-size: 25px;
        }
    }
}