

#green-medit-poster {
    min-height: 1000px;
    background-color: #068e41;
    display: flex;
    color: white;
}

.eventclub-poster {
    min-width: 300px;
    min-height: 1000px;
    width: 50%;

    #vertical-clubs {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1000px;
        width: 200px;
    }

    h1 {
        font-size: 48px;
        writing-mode: vertical-lr;
        vertical-align: bottom;
    }
}

.fishnet-poster {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.little-boxes {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .little-i {
        background-color: #068e41;
        width: 16px;
        height: 36px;
    }
}

.little-boxes-even {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .little-i {
        background-color: #068e41;
        width: 16px;
        height: 36px;
    }
}