
@import '../types/archivo.scss';

#origami-page {
    // background-color: #e1c8aa;
    background-color: #f1e0c2;
}

.replicate-first {
    // display: flex;
    // flex-direction: row;
}

#gami-poster {
    // min-width: 960px;
    padding: 1em;
}

#letterhead {
    --region-space: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#posterhead-origami {
    display: flex;
    justify-content: space-evenly;

    h1 {
        font-family: 'Archivo';
        color:#231d1f
    }

    #ayang-title {
        font-size: clamp(50px, 50%, 60px);
    }

    #established-ayang  {
        h1:first-child {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }
    }

}

#origami-trademark-company {
    display: flex;
    justify-content: center;
    gap: 2em;

    h2 {
        font-family: 'Archivo';
        font-weight: 500;
    }


    
}

#pattern-origamis {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;

    .reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .center-pt {
        display: flex;
        justify-content: center;
    }

    .pattern-origami-item {
        height: 340px;
        width: 340px;
        // background-color: #231d1f;
    }

    .left-pt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-pt-cl, .half-pt-cl, .third-pt-cl {
        background-color: #231d1f;
    }

    .full-pt-cl {
        width: 100%;
        height: 50px;
    }

    .half-pt-cl {
        width: 50%;
        height: 50px;
    }

    .third-pt-cl {
        width: 25%;
        height: 50px;
    }

    #default-mark {
        background-color: #f1e0c2;
    }

    #blue-mark {
        background-color: #26bfd1;
    }

    #red-mark {
        background-color: #e8082a;
    }

    #green-mark {
        background-color: #00947c;
    }
}

.gami-boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // min-width: 1000px;
    align-items: center;

    h1 {
        font-size: clamp(40px, 50%, 50px);
    }
}

.box-gami {
    width: 180px;
    height: 180px;
    background-color: #e1c8aa;
}

.brown-gami {
    background-color: #231d1f;
}

.blue-gami {
    background-color: #26bfd1;
}

.red-gami {
    background-color: #e8082a;
}

.green-gami {
    background-color: #00947c;
}

.purple-gami {
    background-color: #9768ae;
}

.trans-gami {
    background-color: transparent;
}

#boxes--flexend {
    justify-content: flex-end;
}

#boxes__space-between {
    justify-content: space-between;
}

#boxes__left {
    justify-content: left;
}

#boxes__right {
    justify-content: right;
}


#boxes__space-around {
    justify-content: space-around;
}

#boxes__space-evenly {
    justify-content: space-evenly;
}


.my-text { font-feature-settings: "ss16";}
