@import '../bases';


#happiness-page {
    background-color: #dbdee2;
    
    h1, h2 {
        font-family: FragmentMono,Consolas,Liberation Mono,Menlo,monospace;
    }
}

#happiness-title {
    padding-top: 1em;
    padding-bottom: 10em;
    padding-left: 1em;
    color: #141612;
    background-color: #edefec;

    h1 {
        font-size: 2em;
    }

    &:hover {
        color: white;
        background-color: black;

        h1, h2 {
            color: white;
        }
    }
}

#happiness-header  {
    display: flex;
    gap: 2rem;
    justify-content: start;
    padding: 2em;
}

#happiness-table {
    padding-top: 2em;
}

.activity-item {
    border-top: 1px solid black;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    color: #141612;

    font-size: xx-small;

    &:hover {
        color: white;
        background-color: black;

        h1, h2 {
            color: white;
        }
    }
}


@include media-query('md') {

    #happiness-title {

        h1 {
            font-size: 4em;
        }
    }

    .activity-item  {
        gap: 8em;
    }

    .act-eff {
        display: flex;
        width: 600px;
        justify-content: right;
    
    }

    #sex-active {
        width: 1000px;
    }
    
    #dance-active {
        width: 800px;
    }
    
    // #library-active {
    //     padding-right: 7em;
    // }
    
    // #running-active {
    //     padding-right: 8em;
    // }
    
    // #gardening-active {
    //     padding-right: 9em;
    // }
    
    // #singing-active {
    //     padding-right: 10em;
    // }
    
    #talking-active {
        width: 300px;
    }
    
    #nature-active {
        width: 280px;
    }
    
    #nature-active {
        width: 250px;
    }
    
    #walk-active {
        width: 260px;
    }
    
    #hunt-active {
        width: 250px;
    }
    
    #alcohol-active {
        width: 200px;
    }
}



#reference-activity {
    a {
        text-decoration: underline;
    }
}