
#openorder-page {
    background-color: #1b1a0f;
    display: flex;
    flex-wrap: wrap;
}

#first-poster {
    width: 640px;
    margin: 2em;
    position: relative;
}

#second-poster {
    width: 640px;
    margin: 2em;
    position: relative;
}

#first-poster img {
    width: 640px;
    height: 960px;
    object-fit: cover;
    margin: 2em;
    z-index: 1;
    position: relative;
}

#second-poster img {
    width: 640px;
    height: 960px;
    object-fit: cover;
    margin: 2em;
    z-index: 1;
    position: relative;
    border-radius: 1em;
}

.openorder-heading {
    z-index: 2;
    top: 18em;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;

    #open-circle {
        width: 120px;
        height: 120px;
        border-radius: 10em;
        background-color: white;
    }
}

.openorder-title {
    color: white;
    font-size: 64px;
}

.hours-title {
    color: white;
    font-size: 32px;
    position: absolute;
    z-index: 2;
    top: 2em;
    right: 0;
}

#openorder-company {
    background-color: black;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    #trademark--kurva {
        text-align: right;
    }

    #flex__trademark {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .grid-trademark {
        display: grid;
        grid-template-columns: 27px 27px 27px 120px;
    }

    .grid-trade-item {
        width: 16px;
        height: 12px;
        background-color: white;
    }

    #grid-trade-inline {
        width: 124px;
    }
}

#openorder-company, #hours-company {
    display: flex;
    flex-direction: column;
    position: absolute;    
    z-index: 2;
}

#openorder-company {
    bottom: 2em;
    left: 2em;
}

#hours-company {
    top: 2em;
    left: 2em;
    min-height: 960px;
    justify-content: space-evenly;
    width: 100%;
}

#openorder-company p, #hours-company p {
    color: white;
    font-size: 14px;
}

#openorder-company h1, #hours-company h1 {
    color: white;
    font-size: 32px;
}

#openorder-company h3 {
    color: white;
    // font-size: 24px;
    font-weight: 400;
}

#hours-company h2 {
    color: transparent;
    font-size: 42px;
    text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;
}

.left-hour-item, .right-hour-item {
    border-radius: 1em;
    padding: 1em;
    backdrop-filter: blur(10px);
}

.right-hour-item {
    align-self: flex-end;
}

.left-hour-item {
    align-self: flex-start;
}