

<div class="restrict-card w-stack">
<h2>Source code bla bla hanya tersedia untuk Kurva Premium</h2>

<a href="/akses">Langganan Kurva Premium Sekarang</a>

<p>Jika sudah terdaftar akses Kurva Premium, silakan cek dan akses langsung
    lewat email terdaftar kamu.</p>
<div class="email__restrict">
    <label for="email">Email</label>
    <input class="input__email-form" type="email" id="email"></input>
</div>
</div>