/* playfair-display-regular - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/playfair-display/playfair-display-v29-latin-regular.woff2') format('woff2'); /* IE9 Compat Modes */
  }
  
  /* playfair-display-600 - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/playfair-display/playfair-display-v29-latin-600.woff2') format('woff2'); /* IE9 Compat Modes */
  }
  
  /* playfair-display-700 - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/playfair-display/playfair-display-v29-latin-700.woff2') format('woff2'); /* IE9 Compat Modes */
  }
  
  /* playfair-display-800 - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/playfair-display/playfair-display-v29-latin-800.woff2') format('woff2'); /* IE9 Compat Modes */
  }
  
  /* playfair-display-900 - latin */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/playfair-display/playfair-display-v29-latin-900.woff2') format('woff2'); /* IE9 Compat Modes */
  }
  