---
layout: 'layouts/landing-page'
draft: true
pageScripts:
    - '/js/account-page.js'
---

<main class="my-account-page wide-card-index" id="main">
    <tab-drawers></tab-drawers>
    <div class="wrapper">
        <div class="region w-stack">
            <h1>Account Info</h1>
            <div class="checkout-info">
            <div class="stack">
                <h2>Name</h2>
                <p>$99 / year</p>
            </div>
            <div class="stack">
                <h2>Email</h2>
                <p>firasrafislam@live.com</p>
            </div>
            <div class="stack">
                <h2>Renew date</h2>
                <p>29 May 2023</p>
            </div>
            </div>
        </div>
    </div>
</main>