<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- set subtitle %}{{ blogtitle or searchTitle or relatedTitle or tiptitle or eleventyNavigation.key or title }}{% endset %}
{%- set subtitleText %}{{ subtitle }}{% if subtitle and subtitle != "Kurva, eksperimen desain web dan belajar CSS" %} - Kurva{% endif %}{% endset %}
<title>{{ subtitleText }}</title>
{% include "partials/theme-script.njk" %}
<link rel="stylesheet" href="{{ helpers.hashForProd('/css/kurva.css') }}">

{% Meta page, renderData %}

<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">

{% include 'partials/style-loader.njk' %}
{% include 'partials/script-loader.njk' %}