
<header class="site-header">
        <div>
            
        </div>
        <a class="site-header__brand" href="/">
            <h2>Kurva</h2>
        </a>
        <account-header></account-header>
</header>