

<footer class="site-footer">
    <div class="switcher region">
        <div class="w-footer">
            <ul class="w-footer__linkbox-list">
                <li>
                    <a href="https://literasi.blog"
                        data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
                        By @literasibadguy
                    </a>
                </li>
                <li>
                    <a href="https://11ty.dev"
                        data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
                        Material Images through Are.na
                    </a>
                </li>
                <li>
                    <p>
                        Thanks for the font: Familijen Grotesk, Work Sans, IBM Plex
                    </p>
                </li>
            </ul>
        </div>
        <div class="w-footer">
            <h3>Social</h3>
            <ul class="w-footer__linkbox-list">
                <li>
                    <a href="https://literasi.blog"
                        data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
                        By @literasibadguy
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/kurva.xyz"
                        data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="site-footer__brand-nav">
        <ul class="cluster" role="list">
            <li>
                <h3>© 2022 Kurva by literasibadguy and KICIKKU. Images for material contents are the respective owners</h3>
            </li>
        </ul>
    </nav>
</footer>