{% set transitionScrollLoader %}


window.addEventListener("scroll", reveal);

reveal();

function reveal() {
  var reveals = document.querySelectorAll(".tag");
  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;
    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("visible");
    } else {
      reveals[i].classList.remove("visible");
    }
  }
}


{% endset %}
<script>{{ transitionScrollLoader | safe }}</script>