

<div id="hate-aesthetic-page">
    <div class="hate-aesthetic-titles">
        <h1>I hate aesthetic</h1>
    </div>
    <img id="hangout-image" src="/images/feeds/girls-hangout.jpg" alt="Women Hangout" />
</div>