
@font-face {
    font-family: 'Familijen Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('FamilijenGrotesk-Regular'),
      url('/fonts/familijen-grotesk/FamiljenGrotesk-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Familijen Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: local('FamilijenGrotesk-Medium'),
      url('/fonts/familijen-grotesk/FamiljenGrotesk-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Familijen Grotesk';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: local('FamilijenGrotesk-SemiBold'),
      url('/fonts/familijen-grotesk/FamiljenGrotesk-SemiBold.woff2') format('woff2');
  }

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('MartianMono-StdRg'),
    url('/fonts/martian-mono/MartianMono-StdRg.woff2') format('woff2');
}

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local('MartianMono-StdMd'),
    url('/fonts/martian-mono/MartianMono-StdMd.woff2') format('woff2');
}

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('MartianMono-StdBd'),
    url('/fonts/martian-mono/MartianMono-StdBd.woff2') format('woff2');
}

@font-face {
  font-family: 'PlexMono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('IBMPlexMono-Regular'),
    url('/fonts/plex-mono/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PlexMono';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: local('IBMPlexMono-Text'),
    url('/fonts/plex-mono/IBMPlexMono-Text.woff2') format('woff2');
}

@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('IBMPlexMono-Text'),
    url('/fonts/plex-mono/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Cormorant-Regular'),
    url('/fonts/cormorant/Cormorant-Regular.ttf');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Cormorant-Bold'),
    url('/fonts/cormorant/Cormorant-Bold.ttf');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local('Cormorant-Medium'),
    url('/fonts/cormorant/Cormorant-Medium.ttf');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: local('Cormorant-SemiBold'),
    url('/fonts/cormorant/Cormorant-SemiBold.ttf');
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/playfair-display/playfair-display-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/playfair-display/playfair-display-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/playfair-display/playfair-display-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/playfair-display/playfair-display-v29-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-600 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/playfair-display/playfair-display-v29-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/playfair-display/playfair-display-v29-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/playfair-display/playfair-display-v29-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/playfair-display/playfair-display-v29-latin-600.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/playfair-display/playfair-display-v29-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/playfair-display/playfair-display-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/playfair-display/playfair-display-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/playfair-display/playfair-display-v29-latin-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-800 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/playfair-display/playfair-display-v29-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/playfair-display/playfair-display-v29-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/playfair-display/playfair-display-v29-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/playfair-display/playfair-display-v29-latin-800.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-900 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/playfair-display/playfair-display-v29-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/playfair-display/playfair-display-v29-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/playfair-display/playfair-display-v29-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/fonts/playfair-display/playfair-display-v29-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/playfair-display/playfair-display-v29-latin-900.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
