
@font-face {
    font-family: 'Familijen Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('FamilijenGrotesk-Regular'),
      url('/fonts/familijen-grotesk/FamiljenGrotesk-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Familijen Grotesk';
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: local('FamilijenGrotesk-Medium'),
      url('/fonts/familijen-grotesk/FamiljenGrotesk-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Familijen Grotesk';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: local('FamilijenGrotesk-SemiBold'),
      url('/fonts/familijen-grotesk/FamiljenGrotesk-SemiBold.woff2') format('woff2');
  }

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('MartianMono-StdRg'),
    url('/fonts/martian-mono/MartianMono-StdRg.woff2') format('woff2');
}

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local('MartianMono-StdMd'),
    url('/fonts/martian-mono/MartianMono-StdMd.woff2') format('woff2');
}

@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('MartianMono-StdBd'),
    url('/fonts/martian-mono/MartianMono-StdBd.woff2') format('woff2');
}

@font-face {
  font-family: 'PlexMono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('IBMPlexMono-Regular'),
    url('/fonts/plex-mono/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PlexMono';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: local('IBMPlexMono-Text'),
    url('/fonts/plex-mono/IBMPlexMono-Text.woff2') format('woff2');
}

@font-face {
  font-family: 'Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('IBMPlexMono-Text'),
    url('/fonts/plex-mono/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local('Cormorant-Regular'),
    url('/fonts/cormorant/Cormorant-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local('Cormorant-Bold'),
    url('/fonts/cormorant/Cormorant-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local('Cormorant-Medium'),
    url('/fonts/cormorant/Cormorant-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: local('Cormorant-SemiBold'),
    url('/fonts/cormorant/Cormorant-SemiBold.otf') format('otf');
}