
@import 'config';

// $generate-utility-classes: false;

@import '../../node_modules/gorko/gorko.scss';

@import 'reset';
@import 'fonts';

$global-gutter: map-get($gorko-space-scale, 'size-1');

/// Elements that feature in prose contexts need to have a consistent/
$global-prose-element-max-width: 50rem;

@import 'functions/get-space';

@import 'mixins/button-base-styles';
@import 'mixins/card-base-styles';

body {
    font-size: get-size('size-1');
    display: flex;
    flex-direction: column;
    font-family: Familijen Grotesk,Segoe UI,system-ui,-apple-system,sans-serif;
    text-rendering: optimizeLegibility;
}

// [data-user-theme="light"] {
//   main {
//     color: black;
//     background-color: white;

//     a {
//       color: black;
//     }
//   }
// }

// @media (prefers-color-scheme: dark) {
//   main {
//     background-color: black;
//     color: white;

//     a {
//       color: white;
//     }
//   }
// }

main {
    flex: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Familijen Grotesk,Segoe UI,system-ui,-apple-system,sans-serif,
}

h1 {
  font-size: get-size('size-3');
}

h2 {
  font-size: get-size('size-2');
}

h3 {
  font-size: get-size('size-1');
}

h4,
h5,
h6 {
  font-size: get-size('base');
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

ul, ol {
    list-style-type: none;
}

ul:not([class]),
ol:not([class]) {
    list-style: none;
}

ol:not([class]),
ul:not([class]) {
  li {
    position: relative;

    // @include apply-utility('leading', 'short');
  }

  li + li {
    margin-top: 1em;
  }
}

ul:not([class]) {
    // AB: I don't like how restrictive the marker pseudo-element is
    // and we have some sizing and positioning that will benefit
    // from a standard pseudo-element instead.
    list-style: none;
    padding-inline-start: 1rem;
  
    > li::before {
      content: '';
      display: block;
      position: absolute;
      inset: 1ex 0 0 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: currentColor;
    }
  
    > li {
      padding-inline-start: 2ch;
    }
  }

pre {
  // border: 1px solid black;
}

/// Form Fields Invitation


input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  display: block;
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid black;
  font: inherit;
  padding: 0.8em;
  line-height: 1;
  border-radius: 1rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  max-width: 40rem;
}

code {
  padding: 2rem;
  font-size: 0.8em;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  box-decoration-break: clone;
  color: #161616;
  background-color: #f4f4f4;
  font-weight: 300;
  font-family: Plex Mono,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 1.3333;
}

pre > code {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@import 'compositions/auto-grid';
@import 'compositions/cluster';
@import 'compositions/repel';
@import 'compositions/sidebar';
@import 'compositions/switcher';
@import 'compositions/wrapper';
@import 'compositions/wide-card-index';

@import 'components/stack';

@import 'blocks/button';
@import 'blocks/card';
@import 'blocks/pill';
@import 'blocks/prose';
@import 'blocks/site-footer';
@import 'blocks/site-header';

@import 'web-components/kurva-tabs';

@import 'pages/akses-page';
@import 'pages/source-page';
@import 'pages/homepage';
@import 'pages/signin-page';
@import 'pages/checkout-page';
@import 'pages/feeds/daily-blog.scss';
@import 'pages/feeds/model-dan-grid.scss';
@import 'pages/feeds/iklan-majalah.scss';
@import 'pages/feeds/jadwal-elegan-bandara.scss';
@import 'pages/feeds/order-dessert.scss';
@import 'pages/feeds/undangan-digital';
@import 'pages/feeds/concert-red-page.scss';

@import 'utilities/flow';
@import 'utilities/region';
@import 'utilities/all-center';
@import 'utilities/visually-hidden';